<ul>
	<% @projects.each do |project| %>
		<li>
		<%= link_to(project.name, project_time_entries_path(project)) %>
		<% if project.description.present? %>
			- <%= project.description %>
		<% end %>
		</li>
	<% end %>
</ul>
