<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="../front_end.css">
	<link rel="stylesheet" href="../../normalize.css">
	<meta charset="UTF-8">
	<meta charset="UTF-8">
	<title>Not Enough Movies</title>
</head>
<body>
<h1> Failed To Load Enough Movies</h1>
<h2>Please <a href="/"> click here</a> to try a different term</h2>
	
</body>
</html>