<!doctype html>
<html>
<head>
  <title>Login</title>
</head>
<body>

<h1>Login</h1>

<p>
</p>

<form action="/verify" method="POST">

  <input type="text" name="username" placeholder="Username">

  <p>
  </p>

  <input type="password" name="password" placeholder="Password">

  <p>
  </p>

<button type="submit" value="login">LOGIN</button>

</body>
</html>