<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="../front_end.css">
	<link rel="stylesheet" href="../../normalize.css">
	<meta charset="UTF-8">
	<title>Movie Lovers</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row page">	
			<div class="row section-header">
	            <div class="col-md-6 header">
						<ul class="nav navbar-nav nav-header">
						<li class="header-link"><a href="#">Home</a></li>
						<li class="header-link"><a href="#">|</a></li>
						<li class="header-link"><a href="#">About</a></li>
						<li class="header-link"><a href="#">|</a></li>
						<li class="header-link"><a href="#">Contact</a></li>
						<li class="thumb"><a href="#">
				     	 <img src="http://cdn1.theinertia.com/wp-content/authors/Patrick%20Hourihan-201.jpg" alt="..."></a></li>
						</ul>
				</div>
			</div>

			<div class="row row-centered section">
		        <div class="col-xs-6 col-centered search">
					<form action="/search" method="GET">
						<h2>Welcome to the Movie Lovers Trivia!</h2>
						<h3>Search for a movie term here.</h3>
						<input type="text" id="search" name="search" placeholder="Enter a movie term">
						<br>
						<br>
						<button type="submit" value="search">Search</button>
					</form>
				</div>
			</div>

			<div class="row section footer">
				    <ul class="nav navbar-nav">
       	 				<li class="footer-link"><a href="#">Funny Movies</a></li>
        				<li class="footer-link"><a href="#">Scary Movies</a></li>
        				<li class="footer-link"><a href="#">Action Movies</a></li>
				      	<li><a class="social" href="https://wwww.twitter.com">
				        <img alt="Facebook" src="https://cdn0.iconfinder.com/data/icons/rounded-solid-social-media-set-1/144/Facebook_Rounded_Solid-128.png">
				  		<li><a class="social" href="https://wwww.twitter.com">
				        <img alt="Twitter" src="https://cdn0.iconfinder.com/data/icons/rounded-solid-social-media-set-1/144/Twitter_Rounded_Solid-128.png">
				      </a></li>
				      <li><a class="social" href="https://wwww.linkedin.com">
				        <img alt="Linkedin" src="https://cdn0.iconfinder.com/data/icons/rounded-solid-social-media-set-1/144/LinkedIn_Rounded_Solid-128.png">
				      </a></li>
				      <li><a class="social" href="https://wwww.googleplus.com">
				        <img alt="Google+" src="https://cdn0.iconfinder.com/data/icons/rounded-solid-social-media-set-1/144/Google_Rounded_Solid-128.png">
				      </a></li>
				    </div>
				  </div>
				</nav>
			</div>

		</span>
	</div>

</body>
</html>