<h1>Welcome to the Auction Site, <%= @user.name %> </h1>
Your Products: 
<ul><% @user.products.each do | product | %>
	<li><%= link_to(product.title, product_path(product.id)) %></li>
	<% end %>
</ul>
<%= link_to("Create A Product", new_user_product_path(@user.id)) %>