<body style='background-color:lightgrey;''>
<p>
<img src="/vest-logo-transparent.png"
	 alt="The company logo"> 
<font size='18'>Yemani Mason</font>
<p>
</p>
<b>Company:</b> <a href='http://www.vestmunity.com'>VestMunity.com</a>
</p>
<p>
<b>Age:</b> 27<br><br><b>Position:</b> CEO
</p>
<p>
<b>Age:</b> 27<br><br><b>Birthplace:</b> Jamaica
</p>
<p>
I am a serial entrepenuer with some decent html skills.
</p>
<p>
I've built some amazing things in the past and worked for companies such as <font color='blue'><b>Google</b></font>, <font color='yellow'><b>Lenovo</b></font>, and <font color='black'><b>BlackBerry</b></font>.
</p>
<p>
I am a husband and future father of <font color='lightblue'><b>Baby Mason</b></font>. I love the <font color='red'><b>Miami Heat</b></font> and <font color='green'><b>reggae music</b></font>.
</p>
</body>

<p>
The date today is <%= Date.today %>
</p>

<% if Date.today.tuesday? %>
<h2>It's Tuesday!</h2>
<p>
Club going up, on a Tuesday!
</p>
<% end %>