<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>Add | New Task</title>
</head>
<body>

<h1>Add Task</h1>

<form action="/create_task" method="POST">
  <input type="text" name="task" placeholder="New Task">

  <button type="submit">Add Task</button>
</form>

</body>
</html>