<h1>The Worst GIFS Ever:</h1>
<ul>
<% @low_posts.each do |post| %>
	<li><%= link_to(post.title, post_path(post.id)) %> </li>
	<% end %>
	</ul>

<h2><%= link_to "CREATE NEW POST", new_posts_path %> </h2>